appdirs==1.4.3
attrs==18.2.0
black==18.9b0
Click==7.0
Django==2.2.3
django-tinymce4-lite==1.7.4
entrypoints==0.3
flake8==3.7.7
jsmin==2.2.2
mccabe==0.6.1
Pillow==5.4.1
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2018.9
sqlparse==0.3.0
toml==0.10.0
